header.page-header h2 {margin-bottom: -2rem;}
header.page-header a {display:none;}
header.main-content > h1 {margin-top: -2rem;}
footer {display:none;}

body {
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none;   /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
-moz-user-select: none;      /* Firefox */
-ms-user-select: none;       /* IE 10+ and Edge */
-khtml-user-select: none;    /* Konqueror HTML */
-o-user-select: none;
user-select: none;           /* Non-prefixed version */
}
